body {
  background-color: #212121;
  color: #ffffff;
}
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

table th,
td {
  border: 1px solid #e7e7e7;
}
